* {
    margin: 0;
    font-family: sans-serif;
}

input[type=checkbox] {
    padding: 5px;
}

select {
    border: 2px solid black;
    border-radius: 3px;
    padding: 3px;
    outline: none;
}

input[type=number] {
    outline: none;
    border: 2px solid black;
    border-radius: 3px;
    padding: 3px;
    width: 90%;
}

button {
    cursor: pointer;
    outline: none;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    font-size: 10px;
    padding: 5px;
    text-transform: uppercase;
}


/** TOP CONTROLS **/

#controls {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

#controls > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 6px;
}

#controls > div > label {
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    margin: 4px 0;
}

#controls > div > input {
    font-size: 13px;
    padding: 5px;
}

#controls > button {
    width: 100%;
    font-size: 15px;
}

#controls button:hover {
    background: black;
    color: white;
}

#open-menu {
    position: absolute;
    top: 10px;
    left: 10px;
}


/** INTRO MODAL **/

#intro-modal {
    padding: 30px;
}

#intro-modal > div {
    margin: 10px;
}

#intro-modal a {
    text-decoration: none;
}

#intro-modal h2 {
    text-align: center;
    margin-bottom: 20px;
}

#intro-modal p {
    margin: 10px;
}

#intro-modal img {
    display: inline;
    width: 15px;
    margin: 0 5px;
}

#intro-modal li {
    line-height: 1.5;
}


/** BOTTOM BUTTONS **/

#zoom-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

#zoom-container button {
    padding: 8px 8px;
    border-radius: 50%;
    font-weight: bold;
    margin-bottom: 8px;
    transition: all 0.5s ease-in-out;
    background: none;
    border: 2px solid transparent;
}

#zoom-container button:active {
    transform: scale(1.1) !important;
}

#zoom-container img {
    width: 25px;
}

#zoom-container button:hover {
    transform: rotate(360deg);
}

.selected {
    border: 2px solid black !important;
    transform: scale(1.1);
}

#zoom-container .round-controls-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#zoom-container .round-controls-group:last-of-type {
    margin-bottom: 0;
}

#zoom-container button:last-of-type {
    margin-bottom: 0;
}